*{
  padding: 0%;
  margin: 0%;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vh 0;


}
.cnt-box{
  position: relative;
  background:linear-gradient(yellow,green);
  width: 60vh;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;

 border-radius: 10px;
}
.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
row-gap: 20px;

  
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}
input,.metre{
  border: none;
  outline: none;
  height: 30px;
 

}
.weight ,.name,.age{
  width: 100px;
  border-radius: 5px;
  padding:0 5px;
  margin: 0 5px;

}
.height{
  width:60px ;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding:0 5px;
  margin-left:  5px;

}
.metre{
  width: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: .5px;

}
p{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

padding: 10px;
gap: 10px;
border-radius: 5px;
}
.label1{
  margin-right: 10px;
}
.label1,.label2{
  margin-left: 30px;
}

.output{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px;
  gap: 20px;
}
.output>button{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;


}
ul{
  max-width: 50vh;
  max-height: 30vh;
  position: relative;
 overflow-x: auto;
 scroll-behavior: smooth;


}
li{
position: relative;
  list-style-type: none;
 max-width:50vh ;
 width: 50vh;
 height: 10vh;




 

}
.title{
  display: flex;
  flex-direction: column;
}